<!DOCTYPE html><html><head><title>change password</title></head>
<body>
<h2>Change Password</h2>
Please enter your current password and the new password<br>
<form action="" method='POST' onsubmit="return validateForm()"  enctype='multipart/form-data'>
{% csrf_token %}
current password: <input  type='password' id='currentPassword' name='currentPassword'><br>
new password: <input  type='password' id='password' name='newPassword'><br>
repeat new password: <input  type='password' id='password2' name='newPassword2'><br>
<input type='submit'></form>
<br><a href="{% url 'index' %}">Back</a>
</body>
<script>
function validateForm(password) {
    var currentPassword = document.getElementById("currentPassword").value;
    var password = document.getElementById("password").value;
    var password2 = document.getElementById("password2").value;
    if(currentPassword==''){
        alert("Please fill in the current password")
        return false;
    }
    if(password==''){
        alert("Please fill in the new password")
        return false;
    }
    if(password2==''){
        alert("Please repeat the new password")
        return false;
    }
    if(password!=password2){
        alert("The two passwords are not the same")
        return false;
    }
    if(password.length<8 || password.length>20){
        alert("Password should be 8 to 20 characters in length")
        return false;
    }
    return true;

  }
</script>
</html>