<!DOCTYPE html><html><head><title>Reset password</title></head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="screen, projection, tv" />
<body>
<div id="wrapper">
  <div class="title">
    <div class="title-top">
      <div class="title-left">
        <div class="title-right">
          <div class="title-bottom">
            <div class="title-top-left">
              <div class="title-bottom-left">
                <div class="title-top-right">
                  <div class="title-bottom-right">
                    <h1>imageX</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="noscreen" />
  <div class="content">
    <div class="column-left">
      <h3>MENU</h3>
      <a href="#skip-menu" class="hidden">Skip menu</a>
      <ul class="menu">
        {% if user.is_authenticated == True %}
            <li><a href="{% url 'index' %}">Browse images</a></li>
            <li><a href="{% url 'uploadPage' %}">Upload image</a></li>
            <li><a href="{% url 'profile' username=user %}">Profile</a></li>
            <li><a href="{% url 'invite' %}">Invite new member</a></li>
            <li><a href="{% url 'changePassword' %}">Change password</a></li>
            <li class="last"><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'index' %}" >Browse images</a></li>
            <li><a href="{% url 'register' %}">Register as a new member</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li class="last"><a href="{% url 'forgotPassword' %}" class="active">Forgot password?</a></li>
        {% endif %}
      </ul>
    </div>
    <div id="skip-menu"></div>
    <div class="column-right">
      <div class="box">
        <div class="box-top"></div>
        <div class="box-in">
            <h2>Reset your password</h2><br>
            <p>Please enter your username, an email will be sent to your email address with a token to reset the password</p>
            <a href="resetPassword">I already have the token</a><br>
            <form action="" method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            username: <input  type='text' name='username'><br>
            <input type='submit' value='submit'></form>
        </div>
      </div>
      <div class="box-bottom">
        <hr class="noscreen" />
        <div class="footer-info-right"><a href="http://www.mantisatemplates.com/">Mantis-a templates</a></div>
      </div>
    </div>
    <div class="cleaner">&nbsp;</div>
  </div>
</div>
</body>
</html>