                <tr id="image_{{ image.pk }}"><td width='200px'>
                    <a href="{{ image.imageFile.url }}" target="_blank"><img src='{{ image.imageFile.url }}' ></a><br>
                    </td>
                    <td>
                        <table class = 'borderless'>
                            <tr><td class = 'borderless'>Title:</td><td class = 'borderless'> {{image.title}}</td></tr>
                            <tr><td class = 'borderless'>Description:</td><td class = 'borderless'>{{image.description}}</td></tr>
                            <tr><td class = 'borderless'>Photographer:</td><td class = 'borderless'><a href="{% url 'profile' username=image.author %}">{{image.author.memberInfo.displayname}}</a></td></tr>
                            <tr><td class = 'borderless'>Category:</td><td class = 'borderless'>{{image.category}}</td></tr>
                            <tr><td class = 'borderless'>Tags:</td><td class = 'borderless'>{% for tag in image.tags.all %}{{tag.name}} {% endfor %}</td></tr>
                            <tr><td class = 'borderless'>{{image.likes.count}} likes</td><td class = 'borderless'>{{image.numberOfDownload}} downloads</td></tr>
                        </table>
                    </td>
                    <td width='20%'>
                        {% if user.is_authenticated == False or status == 0 %}
                        
                        {% elif status == 1 %}
                            <input type="button" id="likeButton" onclick="like({{ image.pk }});" value="Unlike"></input><br>
                        {% else %}
                            <input type="button" id="likeButton" onclick="like({{ image.pk }});" value="Like"></input><br>
                        {% endif %}
                        <a href="{{ image.imageFile.url }}" Download="{{ image.title }}" onclick="downloadImage({{ image.pk }});" >Download</a><br>
                        {% if user == image.author %}
                            <a href="{% url 'deleteImage' pk=image.pk %}" onclick="return confirm('Are you sure to delete the image?')">Delete</a>
                        {% endif %}
                    </td>
                <tr>