<!DOCTYPE html><html><head><title>imageX</title></head>
<body>
<h1>Welcome to imageX!</h1><br>

<form action="" method='Get' >
Search<br>
keyword: <input  type='text' name='keyword'><br>
Category: 
<select name="category"><option value=''>Any Category</option><option value='Abstract'>Abstract</option><option value='Aerial'>Aerial</option><option value='Animals'>Animals</option><option value='Architecture'>Architecture</option><option value='Black and White'>Black and White</option><option value='Family'>Family</option><option value='Fashion'>Fashion</option><option value='Fine Art'>Fine Art</option><option value='Food'>Food</option><option value='Journalism'>Journalism</option><option value='Landscape'>Landscape</option><option value='Macro'>Macro</option><option value='Nature'>Nature</option><option value='Night'>Night</option><option value='People'>People</option><option value='Performing Arts'>Performing Arts</option><option value='Sport'>Sport</option><option value='Still Life'>Still Life</option><option value='Street'>Street</option><option value='Travel'>Travel</option></select><br>
Photographer: <input  type='text' name='photographer'><br>

<input type='submit'></form>
{% if loggedIn == True %}
<a href="uploadImage">upload image</a><br>
<a href="profile">profile</a><br>
<a href="invite">invite new member</a><br>
<a href="changePassword">change password</a><br>
<a href="logout">logout</a><br>
{% else %}
<a href="register">register as a new member</a><br>
<a href="login">login</a><br>
<a href="forgotPassword">forgot password?</a><br>
{% endif %}
{% if images == '' %}
no image found
{% else %}
<table border="5">
<tr><th>Image</th><th width='200'>Title</th><th width='200'>description</th><th width='200'>category</th><th width='200'>tag</th><th width='200'>author</th>
{% for image in images %}
    <tr><td>
    <img src='{{ image.imageFile.url }}' height='300' ><br>
    <form action="" method='Get' >
            <a href="{{ image.imageFile.url }}" Download="{{ image.title }}" onclick="window.open('uploadImage/download/{{ image.pk }}')" >Download</a>
    </form>
    </td>
    <td>{{image.title}}</td>
    <td>{{image.description}}</td>
    <td>{{image.category}}</td>
    <td>{% for tag in image.tags.all %}
                {{tag.name}} 
            {% endfor %}
    </td>
    <td>{{image.author}}</td>
    </tr>
{% endfor %}
{% endif %}
</body></html>