<!DOCTYPE html><html><head><title>imageX</title></head>
{% load static %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'image.js' %}"></script>
<body>
<h1>Welcome to imageX!</h1><br>

<form action="" method='Get' >
Search for images<br>
Tags: <input  type='text' name='keyword'><br>
Category: 
<select name="category"><option value=''>Any Category</option><option value='Abstract'>Abstract</option><option value='Aerial'>Aerial</option><option value='Animals'>Animals</option><option value='Architecture'>Architecture</option><option value='Black and White'>Black and White</option><option value='Family'>Family</option><option value='Fashion'>Fashion</option><option value='Fine Art'>Fine Art</option><option value='Food'>Food</option><option value='Journalism'>Journalism</option><option value='Landscape'>Landscape</option><option value='Macro'>Macro</option><option value='Nature'>Nature</option><option value='Night'>Night</option><option value='People'>People</option><option value='Performing Arts'>Performing Arts</option><option value='Sport'>Sport</option><option value='Still Life'>Still Life</option><option value='Street'>Street</option><option value='Travel'>Travel</option></select><br>
Photographer: <input  type='text' name='photographer'><br>
order by:  <input type="radio" name="order" value="popularity">popularity <input type="radio" name="order" value = "time"> upload time <br>
<input type='submit' value = "search"></form>
{% if user.is_authenticated == True %}
<a href="{% url 'uploadPage' %}">upload image</a><br>
<a href="{% url 'profile' username=user %}">profile</a><br>
<a href="{% url 'invite' %}">invite new member</a><br>
<a href="{% url 'changePassword' %}">change password</a><br>
<a href="{% url 'logout' %}">logout</a><br>
{% else %}
<a href="{% url 'register' %}">register as a new member</a><br>
<a href="{% url 'login' %}">login</a><br>
<a href="{% url 'forgotPassword' %}">forgot password?</a><br>
{% endif %}
{% if images == '' %}
no image found
{% else %}
<table border="5">
<tr><th>Image</th><th width='200'>Title</th><th width='200'>description</th><th width='200'>category</th><th width='200'>tag</th><th width='200'>statistics</th><th width='200'>action</th><th width='200'>photographer</th></tr>
{% for image, status in images %}
    <tr id="image_{{ image.pk }}"><td>
    <img src='{{ image.imageFile.url }}' height='300' ><br>
    </td>
    <td>{{image.title}}</td>
    <td>{{image.description}}</td>
    <td>{{image.category}}</td>
    <td>{% for tag in image.tags.all %}
                {{tag.name}} 
            {% endfor %}
    </td>
    <td>
        {{image.likes.count}} likes<br>
        {{image.numberOfDownload}} downloads<br>
    </td>
    <td>
        {% if user.is_authenticated == False or status == 0 %}
        
        {% elif status == 1 %}
            <input type="button" id="likeButton" onclick="like({{ image.pk }});" value="Unlike"></input><br>
        {% else %}
            <input type="button" id="likeButton" onclick="like({{ image.pk }});" value="Like"></input><br>
        {% endif %}
        <a href="{{ image.imageFile.url }}" Download="{{ image.title }}" onclick="downloadImage({{ image.pk }});" >Download</a><br>
        {% if user == image.author %}
            <a href="{% url 'deleteImage' pk=image.pk %}" onclick="return confirm('Are you sure to delete the image?')">Delete</a>
        {% endif %}
    </td>
        <td><a href="{% url 'profile' username=image.author %}">{{image.author.memberInfo.displayname}}</a></td>
    </tr>
{% endfor %}
</table>
{% endif %}
</body>
</script>
</html>