<!DOCTYPE html><html><head><title>Register as a new member</title></head>
<body>
<h2>Register as a new member</h2><br>

<form action="" method='POST' onsubmit='return validateForm()' enctype='multipart/form-data'>
{% csrf_token %}
invitation code: <input  type='text' id = 'invitationCode' name='invitationCode'><br>
username: <input  type='text' id = 'username' name='username'><br>
password: <input  type='password' id = 'password' name='password'><br>
<input type='submit'>
</form>
<br><a href="{% url 'index' %}">Back</a>
</body>
<script>
function validateForm(password) {
    var invitationCode = document.getElementById("invitationCode").value;
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    if(invitationCode.length != 10){
        alert("Please fill in a valid invitation code")
        return false;
    }
    if(username==''){
        alert("Please fill in the username")
        return false;
    }
    if(password==''){
        alert("Please fill in the password")
        return false;
    }
    var format= /[!@#$%^&*()+\-=\[\]{};':"\\|,.<>\/?]+/;
    if(format.test(username)){
        alert("Username can only consist of capital and small letters, numbers, and symbol '_'")
        return false
    }
    if(username.length<5 || password.length>20){
        alert("Username should be 5 to 20 characters in length")
        return false;
    }
    if(password.length<8 || password.length>20){
        alert("Password should be 8 to 20 characters in length")
        return false;
    }
    return true;

  }
</script>
</html>