<!DOCTYPE html><html><head><title>Upload image</title></head>
<body>
Upload page<br>
<form action="upload" method='POST' enctype='multipart/form-data'>
{% csrf_token %}
Title: <input type='text' name='title' value={{title}}><br>
Description:<input type='text' name='description' value={{description}}><br>
Category:<select name='category'>
{% for category,id in category_ %}
<option value={{id}}>{{category}}</option>
{% endfor %}
</select><br>
Tag:{% if pretags == '' %}
{% else %}
{% for pretag in pretags %}
{{pretag}}<input type='submit' name = {{pretag}}  value='cancel'>
{% endfor %}
{% endif %}
<input type='text' name='tag'><input type='submit' name = 'Add' value='Add'><br>
{% if errormsg == '' %}
{% else %}
{{errormsg}}<br>
{% endif %}
Image file: <input name='image' type='file' accept='.jpg'><br>
<input type='submit'></form><br>
<a href='../'>Back to Main Page</a>
</body></html>